body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;

}

.backbtn {
    text-align: center;
    padding: 10px;
    position: fixed;

    font-size: 16px;
    color: #d8d8d8;
    text-decoration: none;

    border-radius: 10px;

    transition: transform 0.5s ease-out;
}

.backbtn:hover {
    font-size: 16px; /* 放大字体 */
    transform: scale(1.1); /* 放大1.2倍 */
    transition: font-size 0.3s, transform 0.2s; /* 过渡效果持续0.3秒 */
}

.container {
    max-width: 68%;
    min-height: 900px;
    margin: 5% auto;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 3px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);*/
}

