<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Mzzj's blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}">
</head>
<body>

<div class="profile">
    <br>
    <img src="{% static 'blog/img/avatar.png' %}" alt="mzzj">
    <div>
        <h2>Hi, I'm Mzzj</h2>
        <p>: )</p>
    </div>
</div>


<div class="container">
    <div class="blogs">
        <ul>
            {% for post in all_posts %}
            <li>
                <a href="posts/{{ post.title }}">
                    {{ post.title }}
                    <p style="float: right; font-size: 15px;">{{ post.post_date }}</p>
                </a>
                <p>{{ post.intro }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


<!-- copyright -->
<div style="max-width: 65%; margin: 10px auto; font-size: 14px; color: #b8b8b8; text-align: right;">
    <p>© 2024 Mzzj</p>
</div>
<!-- end copyright -->

</body>

</html>