<html>

	<body>
		<section class="wrapper bg-light">
			<link rel="stylesheet"
				href="https://template-1253409072.cos.ap-guangzhou.myqcloud.com/vip-tpl/assets/css/plugins.css" />
			<link rel="stylesheet"
				href="https://template-1253409072.cos.ap-guangzhou.myqcloud.com/vip-tpl/assets/css/style.css" />
			<section class="wrapper">
				<div class="container pt-12 pt-md-14 pb-14 pb-md-16">
					<div class="row gx-md-8 gx-xl-12 gy-6 align-items-center">
						<div class="col-md-8 col-lg-6 mx-auto">
							<div class="img-mask mask-1">
								<img src="https://template-1253409072.cos.ap-guangzhou.myqcloud.com/vip-tpl/assets/img/photos/about29.jpg"
									alt="" />
							</div>
						</div>
						<!--/column -->
						<div class="col-lg-6">
							<h2 class="display-5 mb-5">大家好，我是Julia，专职摄影师，目前在伦敦工作
							</h2>
							<p class="mb-6">本人做事认真细心严谨，具有较强的亲和力和团队协作精神，善于与人沟通交流，积极向上，热情待人，工作吃苦耐劳，細心，客户服务意识强。
							</p>
							<div class="row counter-wrapper gy-6">
								<div class="col-md-4">
									<h3 class="counter">500K+</h3>
									<p>服务客户</p>
								</div>
								<!--/column -->
								<div class="col-md-4">
									<h3 class="counter">500+</h3>
									<p>成功案例</p>
								</div>
								<!--/column -->
								<div class="col-md-4">
									<h3 class="counter">25</h3>
									<p>荣获奖项</p>
								</div>
								<!--/column -->
							</div>
							<!--/.row -->
						</div>
						<!--/column -->
					</div>
					<!-- /.row -->

					<div class="row gx-md-8 gx-xl-12 gy-6 mt-8">
						<h3 class="display-8 mb-5">大家好，我是Julia，专职摄影师，目前在伦敦工作</h3>
						<p class="mb-6">本人做事认真细心严谨，具有较强的亲和力和团队协作精神，善于与人沟通交流，积极向上，热情待人，工作吃苦耐劳，細心，客户服务意识强。</p>



						<div class="col-lg-4">
							<h3>个人技能
							</h3>
							<p>熟悉相关软件，美感好，悟性强，勤奋好学，有良好的组织纪律性和强烈的团队意识，热爱影视业，知识面相当广泛
							</p>
							<ul class="progress-list">
								<li>
									<p>Photoshop
									</p>
									<div data-value="100" class="progressbar line soft-primary">
									</div>
								</li>
								<li>
									<p>Final Cut
									</p>
									<div data-value="80" class="progressbar line soft-primary">
									</div>
								</li>
								<li>
									<p>Motion Video
									</p>
									<div data-value="85" class="progressbar line soft-primary">
									</div>
								</li>
								<li>
									<p>Manupilation
									</p>
									<div data-value="75" class="progressbar line soft-primary">
									</div>
								</li>
							</ul>
							<!-- /.progress-list -->
						</div>
						<!-- /column -->
						<div class="col-lg-4">
							<h3>我的优势
							</h3>
							<p>21年从业经验，有较好的艺术表现力和良好的艺术节奏感及扎实的影视基础知识和寻求艺术的表现渴求
							</p>
							<ul class="icon-list bullet-bg bullet-soft-primary">
								<li>
									<i class="uil uil-check">
									</i>能独立操作大画副相机
								</li>
								<li>
									<i class="uil uil-check">
									</i>能熟练操作做各种佳能、尼康相机
								</li>
								<li>
									<i class="uil uil-check">
									</i>高级摄影师资格证
								</li>
								<li>
									<i class="uil uil-check">
									</i>有较好的艺术表现力和良好的艺术节奏感
								</li>
								<li>
									<i class="uil uil-check">
									</i>扎实的影视基础知识和寻求艺术的表现渴求
								</li>
							</ul>
						</div>
						<!-- /column -->
						<div class="col-lg-4">
							<h3>服务流程
							</h3>
							<div class="d-flex flex-row mb-5">
								<div>
									<span class="icon btn btn-circle btn-soft-primary pe-none mt-1 me-5"><span
											class="number fs-18">1</span></span>
								</div>
								<div>
									<h5 class="mb-1">创意设计
									</h5>
									<p class="mb-0">有较好的艺术表现力和良好的艺术节奏感及扎实的影视基础知识和寻求艺术的表现渴求
									</p>
								</div>
							</div>
							<div class="d-flex flex-row mb-5">
								<div>
									<span class="icon btn btn-circle btn-soft-primary pe-none mt-1 me-5"><span
											class="number fs-18">2</span></span>
								</div>
								<div>
									<h5 class="mb-1">数据分析
									</h5>
									<p class="mb-0">有熟练的Photoshop数码后期、primerepro1.5等非线编辑能力和AE的使用能力
									</p>
								</div>
							</div>
							<div class="d-flex flex-row">
								<div>
									<span class="icon btn btn-circle btn-soft-primary pe-none mt-1 me-5"><span
											class="number fs-18">3</span></span>
								</div>
								<div>
									<h5 class="mb-1">交付产品
									</h5>
									<p class="mb-0">美感好，悟性强，勤奋好学，有良好的组织纪律性和强烈的团队意识
									</p>
								</div>
							</div>
						</div>
						<!-- /column -->
					</div>

					<!-- /.row -->
				</div>
				<!-- /.container -->
			</section>
			<!-- /section -->
			<script src="https://template-1253409072.cos.ap-guangzhou.myqcloud.com/vip-tpl/assets/js/plugins.js">
			</script>
			<script src="https://template-1253409072.cos.ap-guangzhou.myqcloud.com/vip-tpl/assets/js/theme.js"></script>
			<!-- /.container -->
		</section>
	</body>
</html>